<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f0cba8;">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="https://i.pinimg.com/originals/b2/80/95/b2809540b5c51836a90ea89200558a32.jpg" width="30" height="30" class="d-inline-block align-top" alt=""> Biblioteca</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
    </div>
  </nav> -->

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Categories</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" class="btn btn-primary btn-sm" mat-button (click)="drawer.toggle()">
        Biblioteca
      </button>
    </div>
  
  </mat-drawer-container>