<!-- <app-dashboard></app-dashboard> -->
<div>
    <div class="center">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Aerith Gainsborough
                <span class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-success btn-sm">Accept</button>&nbsp;
                    <button type="button" class="btn btn-danger btn-sm">Decline</button>
                </span>
                How to Get a Boyfriend: The Essential Step-by-Step Guide to Find, Get, and Keep a Boyfriend 
            </li>
            <li class="list-group-item">Cloud Strife
                <span class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-success btn-sm">Accept</button>&nbsp;
                    <button type="button" class="btn btn-danger btn-sm">Decline</button>
                </span>
                How to Make Friends with the Dark
            </li>
            <li class="list-group-item">Tifa Lockhart
                <span class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-success btn-sm">Accept</button>&nbsp;
                    <button type="button" class="btn btn-danger btn-sm">Decline</button>
                </span>
                How to Get a Boyfriend: The Essential Step-by-Step Guide to Find, Get, and Keep a Boyfriend 
            </li>
            <li class="list-group-item">Sora
                <span class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-success btn-sm">Accept</button>&nbsp;
                    <button type="button" class="btn btn-danger btn-sm">Decline</button>
                </span>
                Make Friends with a Dog: 18 Tips to Live a Good Life
            </li>
            <li class="list-group-item">Tidus
                <span class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-success btn-sm">Accept</button>&nbsp;
                    <button type="button" class="btn btn-danger btn-sm">Decline</button>
                </span>
                Wings of Forgiveness: Working with the Angels to Release, Heal, and Transform
            </li>
          </ul>
    </div>
</div>
