<div class="body">
  <img src="https://wallpaperaccess.com/full/124383.jpg" width=100% height="auto">
  <div class="centered">
    <h1 class="display-4">Biblioteca</h1>
    <hr class="my-4">
    <form>
      <h4 class="display-6">Login to your account</h4>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" class="form-control" id="username" aria-describedby="unameHelp" placeholder="Enter username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary" [routerLink]="['/dashboard']">Login</button>
      </form>

      <!-- <form #loginPage="ngForm" name="loginPage" method="post" (ngSubmit)="signIn(loginPage.value)">
        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <div>
          <p>Username: </p>
          <input type="text" class="form-control" name="username" required [(ngModel)]="username"> <br> 
        </div>
        <div>
          <p>Password: </p>
          <input type="password" class="form-control" required name="password" [(ngModel)]="password"> <br>
        </div>
        <div class="buttons">
          <button class="btn btn-secondary" style="margin-right:20px" mat-dialog-close>Cancel</button>
          <button class="btn btn-primary">Log In</button> -->
          <!-- <button type="submit" class="btn btn-primary" mat-dialog-close routerLink="/dashboard">Log In</button> -->
        <!-- </div>
      </form> -->

  </div>
</div>
