.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    size: 900px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: 500;
  }

.display-1{
  font-size: 60px;
  text-align: center;
}

/* .example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
} */

#myBtn {
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:15px;
	background-color:rgb(214, 179, 139);
	color:rgb(255, 255, 255);
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  z-index: 1;
}

/* .table {
  border: none;
}

.card mb-3{
  display: grid;
  grid-template-columns: auto auto auto;
} */
