<!-- <app-dashboard></app-dashboard> -->
<div class="container">

  <div style="height: 40px;"></div>

  <h1 class="display-1">HCT Library</h1>
  <button class="btn btn-primary" (click)="topFunction()" id="myBtn" title="Go to top">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
    </svg>
  </button>

  <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input class="form-control mr-lg-2" type="text" placeholder="Search" #toFind>
    </div>
    <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg></button>
  </form>

  <!-- <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input class="form-control mr-lg-2" type="text" placeholder="Search" #toFind>
    </div>
    <button type="submit" class="btn btn-primary" (click)="searchBook(toFind.value)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg></button>
  </form> -->

  <!-- <form class="form-inline waves-light" mdbWavesEffect><button type="button" class="btn btn-primary btn-sm" (click)="getBook()">Reset</button></form> -->

  <div style="height: 40px;"></div>

  <div class="card mb-3" style="max-width: 800px;" *ngFor="let book of books">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{book.imageLink}}" class="img-fluid rounded-start" alt="{{book.title}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">{{book.title}}</h1>
          <h3 class="card-text">{{book.author}}</h3>
          <p><button type="button" class="btn btn-outline-primary btn-sm" (click)="openBorrowform()">Borrow</button></p>
          <!-- <p class="card-text"><small class="text-muted">{{book.stock}} stocks left</small></p> -->
        </div>
      </div>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{book.stock}} stocks left</small>
    </div>
  </div>
</div>

<app-sidebar (genreEvent)="receiveGenre($event)"></app-sidebar>

