<!-- <app-dashboard></app-dashboard> -->
<div>
    <div class="center">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Rinoa Heartilly
                <p>Returned: December 12, 2019</p>
                <p>The Notebook</p>
            </li>
            <li class="list-group-item">Selphie Tilmitt
                <p>Returned: October 23, 2019</p>
                <p>Harry Potter and the Goblet of Fire</p>
            </li>
            <li class="list-group-item">Sephiroth
                <p>Returned: November 16, 2019</p>
                <p>IT</p>
            </li>
            <li class="list-group-item">Vincent Valentine
                <p>Returned: June 5, 2019</p>
                <p>Moby Dick</p>
            </li>
            <li class="list-group-item">Squall Leonhart
                <p>Returned: February 23, 2019</p>
                <p>Snow White</p>
            </li>
          </ul>
    </div>
</div>
